.topbar {
    position: fixed;
    background-color: #3e505d;
    height: 55px;
    z-index: 99999;
    padding-left: 10px;

    @media(max-width: 992px) {
        padding: 10px;
        height: auto;
    }

    .sub-btn {
        background-color: #3970b3;
        font-size: 0.75rem;
        padding: 0px 0.875rem;
        font-size: 0.75rem;
        font-weight: 400;
        min-height: 1.875rem;
        height: fit-content;
        color: rgb(255, 255, 255);
    }
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
.profile p{
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 0;
}