#navigation-sidebar {
    position: fixed;
    width: 238px;
    padding-top: 50px;
    height: 100vh;
    background-color: #253038;

    .navbar-nav .nav-item {
        .nav-link {
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            position: relative;
            z-index: 10;
            padding: 10px;
            border-radius: 8px;
            z-index: 20;
        }
    }
}