.create_account_title {
    p {
        // border-left: 3px solid rgb(219, 0, 1);
        // padding-left: 13px;
        margin-bottom: 8px !important;
        font-size: 18px;
    }

    h6 {
        padding-left: 13px;
        font-size: 14px;
    }
}

.create_account_form {
    .create_account_box {
        margin-bottom: 20px;
        display: flex;


        .create_account_type {
            width: 300px;

            span {
                margin: 0px 6px 0px 0px;
                padding: 0px;
                text-align: left;
                font-size: 0.875rem;
                font-weight: 400;
                color: rgb(51, 51, 51);
            }


        }

        .create_account_input {
            input {
                &.ca_input {
                    appearance: none;
                    border-radius: 0px;
                    display: flex;
                    box-shadow: none;
                    text-align: left;
                    border-width: 0.0625rem;
                    border-style: solid;
                    transition: border 0.1s ease-out 0s;
                    border-color: #767676;
                    color: rgb(51, 51, 51);
                    background-color: rgb(255, 255, 255);
                    font-size: 0.875rem;
                    font-weight: 400;
                    letter-spacing: normal;
                    line-height: 40px;
                    width: 400px;
                    height: 38px;
                    padding: 0.5625rem 0.625rem 0.6875rem;
                    background-color: transparent;

                    &:focus-visible {
                        outline: 0;
                    }
                }
            }

            button {
                padding: 0px 1.1875rem;
                appearance: none;
                box-shadow: none;
                text-decoration: none;
                display: inline-flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                flex-shrink: 0;
                box-sizing: border-box;
                border-width: 1px;
                border-style: solid;
                overflow: hidden;
                border-radius: 0px;
                user-select: none;
                vertical-align: middle;
                transition: background-color 0.1s ease-out 0s, color 0.1s ease-out 0s, border 0.1s ease-out 0s;
                font-size: 0.875rem;
                font-weight: 400;
                letter-spacing: normal;
                min-height: 2.5rem;
                height: fit-content;
                background-color: rgb(255, 255, 255);
                border-color: rgb(51, 51, 51);
                color: rgb(51, 51, 51);
            }
        }
    }
}

.back_submit_btn {
    button {
        padding: 0px 1.1875rem rem;
        appearance: none;
        box-shadow: none;
        text-decoration: none;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        overflow: hidden;
        border-radius: 0px;
        user-select: none;
        vertical-align: middle;
        transition: background-color 0.1s ease-out 0s, color 0.1s ease-out 0s, border 0.1s ease-out 0s;
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: normal;
        min-height: 2.5rem;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        border-color: rgb(51, 51, 51);
        color: rgb(51, 51, 51);
    }
}


.rate_alert {
  
}