.walletlist {
    margin-bottom: 50px;

    .wallet_card_item {
        background-image: url(../../assets/wallet_card_bg.png);
        background-repeat: no-repeat;
        background-position: left center;
        padding: 5px 10px;
        border: 1px solid #c9d0d4;

        .wallet_card_head {
            margin-bottom: 15px;
        }
    }
}