.walletlist {
    margin-bottom: 50px;

    .wallet_card_item {
        padding: 5px 10px;
        border: 1px solid #c9d0d4;

        .wallet_card_head {
            margin-bottom: 15px;
        }
    }

}

.wallet_type_icon span {
    color: #21509C !important;
}