a {
    text-decoration: none !important;
}


.login {
    height: 100vh;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .container,
.reset .container {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 55px;
    border-radius: 10px;
}

.reset {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.reset form {
    max-width: 400px;
    margin: auto;
}

.file_card {
    border: 2px dashed whitesmoke;
    padding: 20px;
    border-radius: 12px;
}

.file_card button {
    background-color: rgb(77, 100, 116);
}

.dropdown_parent {
    position: relative;
}

.dropdown_result {
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown_result a {
    display: block;
}