@import url('https://db.onlinewebfonts.com/c/04ae8600bb304d74f28a0cebf6ec9885?family=Univers+Next+for+HSBC+W02+Rg');

/* reset, root */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Univers Next for HSBC W02 Rg";
    background-color: #F6F5F8;
    overflow-x: hidden;
}

:root {
    --black_33: #333;
    --clr_93: #347893;
}

// text-color
.text_clr_black_33 {
    color: var(--black_33);
}

.text_clr_93 {
    color: var(--clr_93);
}

// font size
.fs_12 {
    font-size: 12px;
    line-height: 16px;
}

.fs_14 {
    font-size: 14px;
    line-height: 18px;
}

.fs_18 {
    font-size: 18px;
    line-height: 20;
}

/* helper , base classes  - END*/


// global css
.btn_not_allowed {
    border: 1px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    opacity: 0.3;
    background-color: transparent;
    cursor: not-allowed;
    padding: 0px 1.1875rem;
}

// global css /-end